# Environment variables
.env

# Rojo
/*.rbxl*
/*.rbxm*

# Luau
dist/
sourcemap*.json

# Third-party Packages
/DevPackages
/Packages
/*.lock
/LuauPackages


# Moonwave
/node_modules
build

# Other
/*.log
__pycache__
